env: production

http:
  listen: 0.0.0.0:8443
#  tlsKey: /certs/focusly.tld.key
#  tlsCert: /certs/focusly.tld.crt

grpc:
  listen: 0.0.0.0:8080
#  tlsKey: /certs/focusly.tld.key
#  tlsCert: /certs/focusly.tld.crt

logging:
  level: DEBUG

database:
  url: wss://surrealdb.database.local/rpc
  database: focusly
  username: surrealdb
  password:
  namespace: betterde